<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Controle de Finanças</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">
    	<div class="row text-center">
	 		<h1><strong>Sistema WS para o App da IPP</strong></h1>
	 		<br/>
	 	</div>
	 	<div class="row">
	 		<div class="col-md-4 col-xs-1"></div>
	 		
	 		<div class="col-md-4 col-xs-10" style="border:1px solid #cecece; padding:1em;">
 				<div class="col-md-6 col-xs-12">
 					<p><a class="btn btn-info btn-block" href="cadastrarEvento">Cadastro de Eventos</a></p>
 				</div>
 				<div class="col-md-6 col-xs-12">
 					<p><a class="btn btn-primary btn-block" href="">Cadastro de Mensagens</a></p>
 				</div>	 				
 			</div>
	 		
	 		<div class="col-md-4 col-xs-1"></div>
	 		
	 	</div>	
	</div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>